.color-select .color {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.color-select .color:hover {
    box-shadow: 0px 0px 5px 5px lightsalmon;
}

.color-select .color.selected {
    border: 1px solid gray;
    height: 22px;
    width: 22px;
}