body {
    background-color: lightgray;
}

h1, h2, h3, h4 {
    font-family: Georgia; 
}

.body {
    width: 330px;
    border-width: 5px;
    border-color: black;
    background-color: white;
    font-family: Arial;
}

.hide {
    opacity: 0 !important;
    z-index: -1 !important;
}